body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
    margin: 0%;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
    background-color: aquamarine;
    padding: 50px;
    border-radius: 10px;

}

h1 {
    color: brown;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px;
    border-radius: 10px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}